body {
    font-family: 'Poppins', sans-serif;
    background-color: #03001d;
    color: #333;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 96px;
    color: #fff;
    margin: 0;
}

p {
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8c52ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #1d3557;
}